* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #012;
    min-height: 100vh;
    max-height: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #0a072d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
    .nav ul li a:hover {
        text-decoration: underline;
        text-decoration-color: #c309dc;
        transition: text-decoration-color 0.3s ease;
    }
    .nav ul li a.active {
        text-decoration: underline;
        text-decoration-color: #c309dc;
        transition: text-decoration-color 0.3s ease;
        font-weight: bold;
    }
    .nav ul li a.active:hover {
            text-decoration: underline;
            text-decoration-color: #f3eef4;;
        }
    .nav ul li a.active::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: #c309dc;;
        transform: translateX(-50%);
        transition: width 0.3s ease;

    }
    .nav ul li a:hover::after {
        width: 100%;
        transition: width 0.3s ease;
    }
    .logo {
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        max-width: 55px;
        max-height: 55px;
        border: 1px solid #110e36;
        margin: 1px;
        border-radius: 100%;
        background-color: #fff;
    }
    .logo img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20%;
    }
    .logo {
        transition: transform 0.5s ease-in-out;
        transform: scale(1);
        transform-origin: left 90% center bottom;
       }
      
      .logo:hover {
        color: #d715c7;
        transform: scale(2.8);
        transform-origin: left center bottom;
        transition: transform 0.5s ease-in-out;
      }
      
      .container {
        color: #fff;
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: -2;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px auto;
              
      }
        
    
      .about  {
        position: absolute;
        bottom: 15%;
        left: 10%;
           
        color: #fff;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: match parent;
        max-height: 100%;
        max-width: 80%;
        padding-bottom: 10px;


        
      }
        .about:hover {
            color: #d715c7;
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out;
        }
        .about::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 10px;
            bottom: 0;
            background-color: #060229;
            border-radius: 5px;
            z-index: -1;
            justify-content: center;
            align-items: center;
        }
        .about::after {
            content: '';
            position: absolute;
            font-family: 'Courier New', Courier, monospace;
            top: 0;
            left: 0;
            right: 10px;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            z-index: -1;
            justify-content: center;
            align-items: center;
        }
        .about p {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            text-align: start;
            line-height: 1.5;
            padding: 10px;
            margin: 0;
        }
        .about h1 {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            line-height: 1.5;
            padding: 10px;
            margin: 0;
        }
        .card {
            position: absolute;
            top: 20%;
            left: 20%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 400px;
            background-color: #060229;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
        }
        .card:hover {
            transform: translate(-50%, -50%) scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .card .container {
            top: 20%
        }
        .footer  {
            position: absolute;
            bottom: 11.5%;
             right: 50%;  
            color: #fff;
            padding: 5px 5px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
         .btn {
            box-sizing: border-box;
            display: flex=end;
            position: absolute;
            bottom:40%;
            left: 80%;
            transform: translate(-50%, -50%);
            background-color: #060229;
            color: #f719bf;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;
            justify-content: center;
            align-items: center;
            max-width: 200px;
            max-height: 50px;
        }














     


  
  :root {
    --ball-size: 42;
    --impect-radius: 192;
  }
  
  .baseLight {
    position: fixed;
    inset: calc(50% - (var(--ball-size) * 6px));
    background-image: radial-gradient(closest-side, #fff, 0.08%, transparent);
    transform: translate(calc(var(--mx) * 1px), calc(var(--my) * 1px));
  }
  
  .shadows, .balls {
    position: fixed;
    inset: 50%;
  
    div {
      position: absolute;
  
      --x: calc(cos(var(--i) / 6 * pi) * 3);
      --y: calc(sin(var(--i) / 6 * pi) * 3);
      --hue: calc((var(--x) + var(--y)) * 4);
  
      --dx: calc(var(--x) * var(--ball-size) - var(--mx, -9999));
      --dy: calc(var(--y) * var(--ball-size) - var(--my, -9999));
      --dist: calc(sqrt(var(--dx) * var(--dx) + var(--dy) * var(--dy)));
      --dist-factor: calc((var(--impect-radius) - min(var(--dist), var(--impect-radius))) / var(--impect-radius));
      --angle: atan2(var(--dy), var(--dx));
  
      --_translate: calc(var(--dist-factor) * var(--ball-size) * 1px);
    }
  }
  
  .shadow {
    left: calc(var(--x) * var(--ball-size) * 1px);
    top: calc((var(--y) - 0.5) * var(--ball-size) * 1px);
    width: calc(var(--ball-size) * 2px);
    height: calc(var(--ball-size) * 1px);
    transform-origin: left;
    background-image: linear-gradient(to right, #000, transparent);
    opacity: var(--dist-factor, 0);
    transform:
      rotate(var(--angle))
      translate(var(--_translate))
      perspective(calc(var(--ball-size) * 2px))
      rotateY(calc(var(--dist-factor) * -50deg - 20deg));
  }
    .shadow::before {
        content: '';
      
        inset: calc(var(--ball-size) * -0.5px);
        background-color: #fff;
        border-radius: 50%;
        max-height: 100%;
        max-width: 100%;
        background-image:
        radial-gradient(closest-side, transparent 50%, #000000),
        radial-gradient(circle at 30% 50%, #000000 35%, transparent 40%);
        transform:
        rotate(calc(var(--angle) * -1))
        translate(calc(var(--ball-size) * var(--_tx, -0.2px)), calc(var(--ball-size) * -0.1px))
        scaleY(var(--dist-factor, 0))
        rotate(var(--angle));
    }
  .ball {
    --_bpx1: calc(var(--dist-factor) * 100% - 100%);
    --_bpx2: calc(var(--dist-factor) * -100% + 50%);
  
    left: calc((var(--x) - 0.5) * var(--ball-size) * 1px);
    top: calc((var(--y) - 0.5) * var(--ball-size) * 1px);
    width: calc(var(--ball-size) * 1px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(280, 61%, 50%);
    background-image:
      radial-gradient(circle at var(--_bpx1, -100%) 50%, #fff, 25%, transparent),
      radial-gradient(circle at var(--_bpx2, 50%) 50%, transparent, #000a 100%);
    background-repeat: no-repeat;
    transform: rotate(var(--angle)) translate(var(--_translate));
  
    &::before, &::after {
      content: '';
      position: absolute;
      inset: calc(var(--ball-size) * 0.3px);
      background-color: #cfa8a8;
      border-radius: 50%;
      background-image:
        radial-gradient(closest-side, transparent 0%, #000),
        radial-gradient(circle at 30% 50%, #000 35%, transparent 40%);
      transform:
        rotate(calc(var(--angle) * -1))
        translate(calc(var(--ball-size) * var(--_tx, -0.2px)), calc(var(--ball-size) * -0.1px))
        scaleY(var(--dist-factor, 0))
        rotate(var(--angle));        
    }
  
    &::after {
      --_tx: 0.2px;
    }
  }

  .item3 {
    grid-area: main;
  }
  
  .item3 > h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  
  .item3 > p {
    margin-bottom: 7px;
  }


  @media only screen and (max-width: 600px) {
    /*.item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}*/
    .item3 {grid-area: 3 / span 6;}
    /*.item4 {grid-area: 4 / span 6;}*/
    .item5 {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 600px) {
    /*.item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}*/
    .item3 {grid-area: 3 / span 6;}
    /*.item4 {grid-area: 4 / span 6;}*/
    .item5 {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 768px) {
    /*.item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}*/
    .item3 {grid-area: 3 / span 6;}
    /*.item4 {grid-area: 4 / span 6;}*/
    .item5 {grid-area: 5 / span 6;}
  }